@tailwind base;
@tailwind components;
@tailwind utilities;

.herta {
	animation: run 2s ease-in-out;
}

@keyframes run {
	0% {
		transform: translateX(200%);
	}
	50% {
	}
	100% {
		transform: translateX(-200%);
	}
}
